@model GameSpace.Areas.MemberManagement.Models.ManagerDatumVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ManagerDatum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerAccount)
        </dd>
        <dt class = "col-sm-2">
            @(string.IsNullOrEmpty(Model?.ManagerPassword) ? "—" : "••••••••")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdministratorRegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministratorRegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerEmailConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerEmailConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerAccessFailedCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerAccessFailedCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerLockoutEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerLockoutEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerLockoutEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerLockoutEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ManagerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
