@model GameSpace.Areas.MemberManagement.Models.UserPermissionVM

@{
    ViewData["Title"] = "GameSpace";
}

<h2 class="mb-3">@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" class="mt-3">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="UserId" />

    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(m => m.UserId)</label>
        <input class="form-control" value="@Model.UserId" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(m => m.UserNickName)</label>
        <input class="form-control" value="@Model.UserNickName" readonly />
    </div>

    <div class="form-check mb-2">
        <input class="form-check-input" asp-for="UserStatus" />
        <label class="form-check-label" asp-for="UserStatus"></label>
    </div>

    <div class="form-check mb-2">
        <input class="form-check-input" asp-for="ShoppingPermission" />
        <label class="form-check-label" asp-for="ShoppingPermission"></label>
    </div>

    <div class="form-check mb-2">
        <input class="form-check-input" asp-for="MessagePermission" />
        <label class="form-check-label" asp-for="MessagePermission"></label>
    </div>

    

    <button type="submit" class="btn btn-success">儲存</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">返回</a>
</form>
