@model IEnumerable<GamiPort.Models.NotificationRecipient>

@{
    ViewData["Title"] = "我的通知";
}

<h1>我的通知</h1>

@if (Model != null && Model.Any())
{
    <div class="list-group">
        @foreach (var notificationRecipient in Model)
        {
            <div class="list-group-item list-group-item-action @(notificationRecipient.ReadAt != null ? "text-muted" : "")">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@notificationRecipient.Notification.Title</h5>
                    <small>@notificationRecipient.Notification.CreatedAt.ToShortDateString() @notificationRecipient.Notification.CreatedAt.ToShortTimeString()</small>
                </div>
                <p class="mb-1">@notificationRecipient.Notification.Message</p>
                @* <p class="mb-1">狀態: @(notificationRecipient.ReadAt != null ? "已讀" : "未讀")</p> *@
                
            </div>
        }
    </div>
}
else
{
    <p>目前沒有任何通知。</p>
}