@model GameSpace.Areas.MemberManagement.Models.ManagerRolePermissionVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ManagerRolePermissionVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdministratorPrivilegesManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministratorPrivilegesManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserStatusManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserStatusManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingPermissionManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoppingPermissionManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessagePermissionManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessagePermissionManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetRightsManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetRightsManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerService)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ManagerRoleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
